.dYXiNx {
    position: relative !important;
    overflow-x: hidden !important;
}
.gKbhqU {
    justify-content: flex-start !important;
}
.kVrXuC {
    max-width: 90% !important;
}
.badge {
    font-size: 0.90em !important;
}

.dYXiNx .rdt_Table {
	align-items: center;
}



